<div class="pure-u-1-1 pure-u-lg-1-2 pure-u-xxl-1-3">
    <a href="{{site.baseurl}}{{include.link}}">
        <div class="card pure-g">
            <img src="{{site.baseurl}}/assets/img/{{include.img}}" class="affiche pure-u-1 pure-u-sm-1-3" alt="Affiche de {{include.title}}">
            <div class="spectacle pure-u-1 pure-u-sm-2-3">
                <div class="inside-spectacle">
                    <h3>{{include.title}}</h3>
                    <p> {{include.summary}}</p>
                    <div class="info">
                        {{ include.info  }}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>