---
layout: default
---

<div class="pure-g content">
    <div class="pure-u-1 pure-u-md-1-3">
    	<div class="date_info">
			<h2>Informations pratiques</h2>
			<ul>
				{% if page.begin_date %}
					<li>Date : {{ page.begin_date | date: "%d/%m/%Y" }}</li>
					<li>Heure : {{ page.begin_date | date: "%Hh%M" }}</li>
				{% endif %}
				{% if page.duration %}
					<li>Durée : {{page.duration}}</li>
				{% endif %}
				{% if page.venue %}
					<li>Lieu : {{ page.venue}} </li>
				{% endif %}
				{% if page.address %}
					<li>Adresse : {{ page.address}} </li>
				{% endif %}
				{% if page.pricing %}
					<li>Prix : {{page.pricing}}</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-2-3">
		<h2>Le spectacle</h2>
		<h3>Description</h3>
		{{content}}
		{% if page.spectacle %}
			{% assign spectacle = site.spectacles | where: 'short', page.spectacle | first %}
			{% if spectacle %}
			<h3>La formule : <a href="{{spectacle.url}}">{{spectacle.title}}</a></h3>
			{% include spectacle.html 
				type=spectacle.type
				audience=spectacle.audience 
				content=spectacle.content
			%} 
			{% endif %}
		{% endif %}
	</div>
</div>
{% if page.cta_url %}
<div class="is-center l-box-lrg content">
	<a href="{{page.cta_url}}" class="pure-button pure-button-secondary">{{page.cta_text}}</a>
</div>
{% endif %}