---
layout: default
---

<div class="content">
    <h2>La formule</h2>

        {% include spectacle.html 
            type=page.type
            audience=page.audience 
            content=page.content
        %} 
</div>
{% if page.photos %}
<div class="content">
    <h2>Les photos</h2>
    <div class="is-center">
    {% for image in site.static_files %}
        {% assign images_dir = "img/" | append: page.photos | append: "/thumb" %}
        {% if image.path contains images_dir %}
            {% assign img_url = image.path | replace: "/thumb/" , "/" %}
            <a href="{{img_url}}" target="_new" class="photo_spectacle">
                <img src="{{ image.path }}" alt="Photo du spectacle {{page.title}}" />
            </a>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
<div class="content">
    <h2>Les prochaines dates</h2>
    <div class="pure-g">
        {% assign today = site.time | date: '%Y-%m-%d' %}
        {% assign dates = site.dates | where: 'spectacle', page.short | where_exp: "date", "date.begin_date > today"  | sort: 'begin_date' %}
        {% if dates and dates.size != 0 %}
            {% for date in dates %}
                {% capture info %}
                    Le {{ date.begin_date | date: "%d/%m/%Y à %H:%M" }}
                    <br>
                    {{date.venue}}
                {% endcapture %}
                {% if date.image %}
                    {% assign image=date.image %}
                {% elsif date.spectacle %}
                    {% assign spectacle = site.spectacles | where: 'short', date.spectacle | first %}
                    {% assign image = spectacle.image %}
                {% else %}
                    {% assign image = 'logo.webp' %}
                {% endif %}
                {% include card.html link=date.url image=image title=date.title summary=date.summary info=info%}
            {% endfor %}
        {% else %}
        Pas de date prévue pour ce spectacle pour le moment...
        {% endif %}
    </div>
</div>
<div class="content">
    <h2>Les représentations passées</h2>
    {% assign prev_dates = site.dates | where: 'spectacle', page.short | where_exp: "date", "date.begin_date < today"  | sort: 'begin_date' %}
    {% if prev_dates and prev_dates.size != 0 %}
        <ul>
            {% for pdate in prev_dates %}
            <li><a href="{{ pdate.url }}">{{pdate.title}}</a> ({{ pdate.begin_date | date: "%d/%m/%Y" }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ce spectacle n'a pas eu de date publique depuis janvier 2024...</p>
    {% endif %}
</div>